<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pes High School</title>
    <link rel="stylesheet" href="/homenew.css">
</head>
<body>
    <div class="bar">
            <div class="navbar">
                <img src="/logo2.jpg" class="img" />
                <nav>
                    <ul id='MenuItems'>
                        <li><a href='#'>HOME</a></li>
                        <li><a href='#'>ABOUT US</a></li>
                        <li><a href='#'>EVENTS</a></li>
                        <li><a href='#'>FACILITIES</a></li>
                        <li><a href='#'>CONTACT</a></li>
                        <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">LOGIN</button></li>
                    </ul>
                </nav>
            </div>
    </div>
    <div class="box">
        <h2>FROM THE PRINCIPAL’s DESK</h2>
        <p>“The function of education is to teach one to think intensively and to think critically. Intelligence plus character – that is the goal of true education” Martin Luther King<br>
            Education is not just literacy. It is a much broader concept than that. Imparting the right education is equipping a child not only with the knowledge of various subjects, but also empowering them with abilities and skills to face the various challenges of life. We have always aimed at the holistic development of every student, nurturing every important aspect – physical, cultural, emotional and intellectual.<br>
            The state-of-the-art facilities at Delhi Public School, Bangalore East and our dedicated staff, who are the proponents of the Institution’s ethos, provide our young scholars with innumerable opportunities to evolve as confident and thoughtful individuals, ready to make a place for themselves in this global world ruled by technology. The right balance of academics and co-curricular activities facilitate the development of multiple intelligences, honing the talent and intellect, and thus fostering all round development. Emphasis is also laid on imbibing the virtues of being humble, empathetic, compassionate, just, true, conscious about nature, energy conservation, recycling etc. that will go a long way in helping them to become responsible citizens of our country.
             Wishing each one of you an experiential learning year.<br><br>
            
            
             With warm regards,<br>
             Dr. Manila Carvalho<br>
             Principal</p>
    </div>

</body>
</html>