*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
  body{
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(94, 94, 94);
    opacity: 70%;
  }
  .hero{
  position: absolute;
  z-index: 1;
	height: 100vh;
	width: 100%;
	background-image: url("school1.jpg");
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 30px;
	border-radius: 20px;
	padding: 10px;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
	background-color: rgb(168, 168, 168);
}
  .contact-info{
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  
  .card{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  
  .card-icon{
    font-size: 28px;
    background: #ff6348;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 110px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
  }
  
  .card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .card:hover p{
    max-height: 40px;
    opacity: 1;
  }
  
  
  @media screen and (max-width:800px) {
    .contact-info{
      flex-direction: column;
    }
    .card{
      width: 100%;
      max-width: 300px;
      margin: 10px 0;
    }
  }
  