html {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

#header {
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(107, 22, 22);
}

#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(107, 22, 22);
}

img#nav_logo {
  height: 30px;
  margin-top: 35px;
  margin-left: 30px;
}

#logout-button {
  height: 50px;
  margin-top: 30px;
  border-radius: 50%
}

#logout-button:hover {
  background-color: grey;
}

#nav_menu {
  position: fixed;
  z-index: 90;
  background-color: rgb(152, 156, 156);
  height: 90%;
  width: 0px;
  margin-top: 100px;
  font-size: 20px;
  transition: 0.5s;
}

.nav_menu_link {
  display: none;
  width: 100%;
  padding: 20px;
  background-color: rgb(152, 156, 156);
  color: black;
  border: 0px;
  text-align: left;
  font-size: 25px;
  font-style: italic;
  padding-left: 15px;
}

.nav_menu_link:hover {
  background-color: rgb(90, 92, 92);
  color: white;
  cursor: default;
}

#main {
  position: absolute;
  padding-top: 200px;
  padding-bottom: 100px;
  height: auto;
  width: 100%;
  min-height: 100%;
  background-color: rgb(245, 206, 158);
}

#main2 {
  position: absolute;
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  width: 100%;
  min-height: 72%;
  background-color: rgb(245, 206, 158);
}

#content{
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

/* for login page */

#background-video{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
}

#login-box{
  position: absolute;
  z-index: 5;
  margin-left: 25%;
  margin-top: 150px;
  width: 30%;
  background-color: rgb(245, 206, 158);
  border: 3px solid black;
  border-radius: 10px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  opacity: 90%;
}

.login-details{
  position: relative;
  width: 70%;
  height: 50px;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.login-submit{
  position: relative;
  width: 40%;
  height: auot;
  margin-top: 30px;
  margin-left: 120px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(100, 100, 255);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login-submit:hover{
  background-color: rgb(53, 53, 255);
}

/* for test portal */

.question-bar {
  margin-top: 50px;
  margin-left: 150px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgb(248, 192, 123);
  width: 75%;
  height: auto;
}

.questions-para {
  font-weight: bolder;
  font-size: 40px;
  margin-left: 40px;
}

.questions {
  width: 85%;
  height: auto;
  font-size: 30px;
  margin-left: 80px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: rgb(248, 177, 90);
  border: 0px;
}

#submit-button-test {
  margin-left: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 25px;
}

#select-test{
  position: relative;
  margin-left: 35%;
  margin-top: 100px;
  width: 400px;
  height: 100px;
  font-size: 50px;
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 10px;
}

#select-test:hover{
  background-color: rgb(49, 49, 49);
}

#display-marks{
  font-size: 30px;
  margin-left: 40%;
  margin-top: 10px;
}

/* for slideshow */

.slideshow-container {
  position: relative;
  left: 20%;
  height: auto;
  width: 40%;
}

.mySlides {
  display: none;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  left: 0;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(63, 63, 63, 0.8);
}

.next {
  right: 0;
  left: auto;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* for announcments */

#announcments {
  position: relative;
  left: 10%;
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.announcment-contents {
  padding-top: 10px;
  width: 100%; 
  height: auto;
  min-height: 70px; 
  padding-left: 40px;
  font-size: 20px;
  background-color: rgb(248, 188, 115);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* for timetable page */

#timetable{
  position: relative;
  left: 50px;
  min-width: 50%;
  border: 3px solid black;
  background-color: azure;
}

#timetable2{
  margin-left: 20px;
  width: 80%;
  border: 3px solid black;
  background-color: azure;
}

.table-heading{
  background-color: rgb(152, 156, 156);
  color: white;
}

.timetable{
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
}

.timetable2{
  border: 3px solid black;
  padding: 10px;
  font-size: 10px;
}

/* for assignments page */

.assignment-view{
  position: relative;
  left: 10%;
  margin-top: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  width: 60%;
  height: auto;
  background-color: rgb(248, 192, 123);
  border-radius: 10px;
  border: 2px solid black;
}

/* for attendance edit page */

.dropdown{
  position: relative;
  margin-top: 50px;
  margin-left: 10%;
  width: auto;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
}

.select-student{
  position: relative;
  margin-left: 10%;
  margin-top: 20px;
  width: auto;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.select-student:hover{
  background-color: rgb(177, 177, 177);
}

/* for assignments edit page */

.assignment-marks{
  padding-left: 20px;
  font-size: 20px;
  height: auto;
  width: auto;
}

/* for admin page */

.slideshow-upload{
  position: relative;
  margin-top: 50px;
  left: 20%;
  font-size: 50px;
  width: 40%;
  height: auto;
}

.add-data{
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
}

.delete{
  display: flex;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 20px;
  background-color: aliceblue;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

.delete-button{
  flex: 25%;
  background-color: rgb(223, 65, 65);
  border-radius: 10px;
}
.delete-button:hover{
  background-color: rgb(221, 41, 41);
}

.edit-assignments{
  width: 50%;
  height: auto;
  font-size: 20px;
  margin-left: 130px;
  border-radius: 10px;
  padding: 20px;
}